<div class="container mt-3">
  <div class="row justify-content-center">
    <%= render "form" %>
  </div>
  <div class="row justify-content-center">
    <%= link_to 'All', tasks_path  %>
  </div>
</div>
